XML/clasGen.dtd

<!DOCTYPE CLASSIFICA [

<!ELEMENT CLASSIFICA (CAMPIONATO*)>
<!ELEMENT CAMPIONATO (SQUADRA*)>
<!ELEMENT SQUADRA (PUNTI*)>
<!ELEMENT PUNTI (#PCDATA)>

<!ATTLIST CLASSIFICA tipo CDATA #FIXED "generale">
<!ATTLIST CAMPIONATO NomeCamp CDATA #REQUIRED>
<!ATTLIST CAMPIONATO DataInizio #PCDATA #REQUIRED>
<!ATTLIST CAMPIONATO DataFine #PCDATA REQUIRED>
<!ATTLIST SQUADRA NomeSquadra CDATA #REQUIRED>
<!ATTLIST SQUADRA Allenatore CDATA #REQUIRED>

]>
